-- MariaDB dump 10.19-11.2.2-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: newone4
-- ------------------------------------------------------
-- Server version	11.2.2-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `product`
--

DROP TABLE IF EXISTS `product`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product` (
  `p_num` int(11) NOT NULL AUTO_INCREMENT,
  `product_code` varchar(50) NOT NULL DEFAULT '0',
  `name` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `price` int(11) DEFAULT NULL,
  `is_display` tinyint(1) DEFAULT 0,
  `is_sale` tinyint(1) DEFAULT 0,
  `has_options` tinyint(1) DEFAULT 0,
  `stock` int(11) DEFAULT 0,
  `is_unlimited_stock` tinyint(1) DEFAULT 0,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`p_num`),
  KEY `product_code` (`product_code`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product`
--

LOCK TABLES `product` WRITE;
/*!40000 ALTER TABLE `product` DISABLE KEYS */;
INSERT INTO `product` VALUES
(4,'20260209133428398','?끹꽬?담뀉','',NULL,0,0,0,0,1,'2026-02-09 13:34:28','2026-02-09 13:34:28'),
(5,'20260209134040209','?뚯뒪??,'',NULL,0,0,1,20,1,'2026-02-09 13:40:41','2026-02-09 13:40:41'),
(6,'20260209165809589','?끹꽬?담뀉?곥꽩?뉎뀅??21','<p>?곥꽩?뉎뀅?담뀋</p><p>?곥꽩??/p><p>?곥꽩?뉎뀅?담뀋</p><p>媛?섎떎??留덈컮???꾩옄李⑦뙆???/p><p>?꾩빞?댁뿬?곗쑀?쇱씠</p><p>?먯삁?좎뼐</p><p>asdasd</p>',10000,1,1,1,40,0,'2026-02-09 16:58:10','2026-05-06 10:05:55'),
(7,'20260506111049033','?ㅼ씠?섎? ???dynamic dou) - 二쎌씪??,'<p>?덈뒗 ?곗쿂?섍컙 李⑤Ц??遺?щ벏??臾??レ쑝硫댁꽌</p><p>??癒몃━瑜?爾?諛뺢퀬 ?붿닲 ?ъ뼱 ?몃뱾???덉쑝硫댁꽌</p><p>?대윴 愿묎꼍???덈Т ?듭닕???댁젨</p><p>?щ쭔???몄??먮룄 ?곸쿂?????덈굹 ?댁젣</p><p>紐낇뭹 ?쇳븨????泥섎읆 ?덈Т 源먭퉸????湲곗??</p><p>??踰??붾궡硫??ㅻ걹 ?λ궃 ?꾨깘</p><p>?곸뼱??2二쇰뒗 媛?덇퉴</p><p>???깃꺽???덈Т 臾쇰윭??/p><p>????긽 留먰빐 ?⑥옄?덇퉴 ?ㅻ줈 醫 臾쇰윭??/p><p>遺?대뤌 ?덇? ?닿쾶 寃고샎??蹂댁껜??寃껊룄</p><p>???ъ씤泥섎읆 ????붿젣瑜??뚮━??踰뺣룄</p><p>留롮씠 ?섏뿀??/p><p>????긽 異붽꺽?섍퀬 ?섎뒗 ?꾨쭩爾?/p><p>?붿쭅??留먰븷猿????꾩쭅 以鍮꾩븞?먯뼱</p><p>吏爾ㅼ뼱 議곌툑 ???ν븳 ?щ옉? ?꾧툑??/p><p>踰쀪꺼吏?諛섏?泥섎읆 鍮쏆씠 諛붾옱??/p><p>?ㅻ뒛? ?대퀎??留먰빐????寃?媛숈븘</p><p>吏寃밴굅???덈옉 ?ㅽ댋 ?뚮쭏????긽 ?섎뒗留?/p><p></p><p>?닿? 二쎌씪?덉씠吏 萸?/p><p>?곕━媛 ?닿툔???뚮㈃</p>',12000,1,1,0,0,1,'2026-05-06 11:10:50','2026-05-12 11:16:28');
/*!40000 ALTER TABLE `product` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_category`
--

DROP TABLE IF EXISTS `product_category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product_category` (
  `c_num` int(11) NOT NULL AUTO_INCREMENT,
  `category_code` varchar(50) NOT NULL DEFAULT '0' COMMENT '移댄뀒怨좊━ 怨좎쑀 ID',
  `parent_code` varchar(50) DEFAULT NULL COMMENT '?곸쐞 移댄뀒怨좊━ ID (理쒖긽?꾩씤 寃쎌슦 NULL)',
  `name` varchar(100) NOT NULL COMMENT '移댄뀒怨좊━紐?,
  `is_visible` tinyint(1) DEFAULT 1 COMMENT '?몄텧 ?щ?',
  `sort_order` int(11) DEFAULT 0 COMMENT '?뺣젹 ?쒖꽌',
  `image_pc` varchar(255) DEFAULT NULL COMMENT 'PC???대?吏 URL',
  `image_tablet` varchar(255) DEFAULT NULL COMMENT '?쒕툝由우슜 ?대?吏 URL',
  `image_mobile` varchar(255) DEFAULT NULL COMMENT '紐⑤컮?쇱슜 ?대?吏 URL',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`c_num`) USING BTREE,
  KEY `id` (`category_code`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_category`
--

LOCK TABLES `product_category` WRITE;
/*!40000 ALTER TABLE `product_category` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_category_connect`
--

DROP TABLE IF EXISTS `product_category_connect`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product_category_connect` (
  `pcn_num` int(11) NOT NULL AUTO_INCREMENT,
  `product_code` varchar(50) NOT NULL DEFAULT '0',
  `category_code` varchar(50) NOT NULL DEFAULT '0',
  PRIMARY KEY (`pcn_num`),
  KEY `FK_product_category_connect_product` (`product_code`),
  KEY `FK_product_category_connect_product_category` (`category_code`),
  CONSTRAINT `FK_product_category_connect_product` FOREIGN KEY (`product_code`) REFERENCES `product` (`product_code`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `FK_product_category_connect_product_category` FOREIGN KEY (`category_code`) REFERENCES `product_category` (`category_code`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci COMMENT='?쒗뭹怨?移댄뀒怨좊━ ?곌껐';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_category_connect`
--

LOCK TABLES `product_category_connect` WRITE;
/*!40000 ALTER TABLE `product_category_connect` DISABLE KEYS */;
INSERT INTO `product_category_connect` VALUES
(1,'20260209133428398','260204171512'),
(2,'20260209134040209','260204171512'),
(16,'20260209165809589','260204171512'),
(19,'20260506111049033','260204171512');
/*!40000 ALTER TABLE `product_category_connect` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_image`
--

DROP TABLE IF EXISTS `product_image`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product_image` (
  `i_num` int(11) NOT NULL AUTO_INCREMENT,
  `product_code` varchar(50) DEFAULT '0',
  `url` varchar(255) DEFAULT '0',
  `is_main` tinyint(4) NOT NULL DEFAULT 0,
  `sort_order` int(11) DEFAULT 0,
  PRIMARY KEY (`i_num`),
  KEY `FK_product_image_product` (`product_code`),
  CONSTRAINT `FK_product_image_product` FOREIGN KEY (`product_code`) REFERENCES `product` (`product_code`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_image`
--

LOCK TABLES `product_image` WRITE;
/*!40000 ALTER TABLE `product_image` DISABLE KEYS */;
INSERT INTO `product_image` VALUES
(15,'20260209165809589','/uploads/2026/02/09/product/20260209165809589/1770623889549-o9z5kytsu.webp',1,NULL),
(16,'20260209165809589','/uploads/2026/02/09/product/20260209165809589/1770623889702-2ahs0n5th.webp',0,1),
(17,'20260209165809589','/uploads/2026/02/09/product/20260209165809589/1770623889822-p04dqrw1p.webp',0,2),
(18,'20260209165809589','/uploads/2026/02/09/product/20260209165809589/1770623889952-k68ee4qzz.webp',0,3),
(19,'20260506111049033','/uploads/2026/05/06/product/20260506111049033/1778033449931-glar5v2x6.webp',1,NULL);
/*!40000 ALTER TABLE `product_image` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_inquiry`
--

DROP TABLE IF EXISTS `product_inquiry`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product_inquiry` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `product_code` varchar(50) NOT NULL DEFAULT '0',
  `product_inquiry_code` varchar(50) NOT NULL DEFAULT '0',
  `user_code` varchar(50) NOT NULL DEFAULT '0',
  `type` enum('PRODUCT','DELIVERY','ACC') NOT NULL DEFAULT 'PRODUCT',
  `content` text NOT NULL,
  `images` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL,
  `is_secret` tinyint(4) NOT NULL DEFAULT 0,
  `status` enum('PENDING','ANSWERED') NOT NULL DEFAULT 'PENDING',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `FK_product_inquiry_product` (`product_code`),
  KEY `product_inquiry_code` (`product_inquiry_code`),
  CONSTRAINT `FK_product_inquiry_product` FOREIGN KEY (`product_code`) REFERENCES `product` (`product_code`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_inquiry`
--

LOCK TABLES `product_inquiry` WRITE;
/*!40000 ALTER TABLE `product_inquiry` DISABLE KEYS */;
INSERT INTO `product_inquiry` VALUES
(3,'20260209165809589','202603061210549377','jeo7334Wt202601','ACC','<p>?곥꽩?뉎꽰?담꽮??/p><p>?곥꽩?뉎꽮</p><p>?곥꽩?담뀋??/p><p>?곥꽩?뉎꽮</p><p>?곥꽩?뉎꽮</p><p>?곥꽩?뉎꽰?담뀋</p>',NULL,0,'PENDING','2026-03-06 12:10:54','2026-03-06 12:10:54');
/*!40000 ALTER TABLE `product_inquiry` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_inquiry_answer`
--

DROP TABLE IF EXISTS `product_inquiry_answer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product_inquiry_answer` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `answer_code` varchar(50) NOT NULL DEFAULT '0',
  `product_inquiry_code` varchar(50) NOT NULL DEFAULT '0',
  `answer` text NOT NULL,
  `user_code` varchar(50) NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `FK_product_inquiry_answer_product_inquiry` (`product_inquiry_code`),
  CONSTRAINT `FK_product_inquiry_answer_product_inquiry` FOREIGN KEY (`product_inquiry_code`) REFERENCES `product_inquiry` (`product_inquiry_code`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_inquiry_answer`
--

LOCK TABLES `product_inquiry_answer` WRITE;
/*!40000 ALTER TABLE `product_inquiry_answer` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_inquiry_answer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_option`
--

DROP TABLE IF EXISTS `product_option`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product_option` (
  `option_num` int(11) NOT NULL AUTO_INCREMENT,
  `product_code` varchar(50) NOT NULL DEFAULT '0',
  `product_option_code` varchar(50) NOT NULL DEFAULT '0',
  `name` varchar(50) NOT NULL DEFAULT '0',
  `value` varchar(50) NOT NULL DEFAULT '0',
  `stock` varchar(50) NOT NULL DEFAULT '0',
  PRIMARY KEY (`option_num`),
  KEY `FK_product_option_product` (`product_code`),
  KEY `product_option_code` (`product_option_code`),
  CONSTRAINT `FK_product_option_product` FOREIGN KEY (`product_code`) REFERENCES `product` (`product_code`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_option`
--

LOCK TABLES `product_option` WRITE;
/*!40000 ALTER TABLE `product_option` DISABLE KEYS */;
INSERT INTO `product_option` VALUES
(9,'20260209165809589','opt20260209165809589','而щ윭','釉붾（','10'),
(10,'20260209165809589','opt20260209165809015','而щ윭','?덈뱶','10'),
(11,'20260209165809589','opt20260209165809142','而щ윭','釉붾옓','10'),
(12,'20260209165809589','opt20260209165809180','而щ윭','?쇳뵆','10');
/*!40000 ALTER TABLE `product_option` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_order`
--

DROP TABLE IF EXISTS `product_order`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product_order` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `order_code` varchar(50) NOT NULL DEFAULT '0',
  `user_code` varchar(50) NOT NULL DEFAULT '0',
  `total_product_price` double NOT NULL DEFAULT 0 COMMENT '?쒗뭹 湲덉븸 珥앺빀(?좎씤 ?곸슜 ??',
  `delivery_price` double NOT NULL DEFAULT 0 COMMENT '諛곗넚鍮?,
  `used_mileage` double NOT NULL DEFAULT 0 COMMENT '留덉씪由ъ? ?ъ슜',
  `actual_payment_amount` double NOT NULL DEFAULT 0 COMMENT '?ㅼ젣 寃곗젣 鍮꾩슜',
  `status` enum('PENDING','PAID','PROCESSING','SHIPPING','DELIVERED','COMPLETED','CANCEL','CLAIM') NOT NULL DEFAULT 'PENDING',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `paided_at` timestamp NULL DEFAULT NULL,
  `processed_at` timestamp NULL DEFAULT NULL,
  `delivered_at` timestamp NULL DEFAULT NULL,
  `completed_at` timestamp NULL DEFAULT NULL,
  `canceled_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `order_code` (`order_code`),
  KEY `FK_product_order_user` (`user_code`),
  CONSTRAINT `FK_product_order_user` FOREIGN KEY (`user_code`) REFERENCES `user` (`user_code`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_order`
--

LOCK TABLES `product_order` WRITE;
/*!40000 ALTER TABLE `product_order` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_order` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_order_address`
--

DROP TABLE IF EXISTS `product_order_address`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product_order_address` (
  `order_address_code` varchar(255) NOT NULL,
  `order_code` varchar(255) NOT NULL,
  `name` varchar(255) DEFAULT NULL,
  `postcode` varchar(50) DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `detailAddress` varchar(255) DEFAULT NULL,
  `phone` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`order_address_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_order_address`
--

LOCK TABLES `product_order_address` WRITE;
/*!40000 ALTER TABLE `product_order_address` DISABLE KEYS */;
INSERT INTO `product_order_address` VALUES
('202606301440411210','202605180929164816','誘쇱젙湲?,'21069','?몄쿇 怨꾩뼇援??ㅼ“?곕줈57踰덇만 15(怨꾩궛?? 紐낅룞鍮뚮뵫)','721??,'010-6551-3317'),
('202606301440411346','202605181007243694','誘쇱젙湲?,'21069','?몄쿇 怨꾩뼇援??ㅼ“?곕줈57踰덇만 15(怨꾩궛?? 紐낅룞鍮뚮뵫)','721??,'010-6551-3317'),
('202606301440416362','202605151407488202','誘쇱젙湲?,'21069','?몄쿇 怨꾩뼇援??ㅼ“?곕줈57踰덇만 15(怨꾩궛?? 紐낅룞鍮뚮뵫)','721??,'010-6551-3317'),
('202606301440418215','202606151054113857','誘쇱젙湲?,'21035','?몄쿇 怨꾩뼇援??μ젣濡?878(蹂묐갑?? ?숇쭏?꾩꽌???곷궓?꾪뙆??','111-1102','010-6551-3317'),
('202606301459181268','202606301459181273','誘쇱젙湲?,'21069','?몄쿇 怨꾩뼇援??ㅼ“?곕줈57踰덇만 15 (怨꾩궛??','721??,'010-6551-3317');
/*!40000 ALTER TABLE `product_order_address` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_order_basket`
--

DROP TABLE IF EXISTS `product_order_basket`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product_order_basket` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `order_basket_code` varchar(50) NOT NULL,
  `user_code` varchar(50) NOT NULL,
  `product_code` varchar(50) NOT NULL,
  `product_option_code` varchar(50) DEFAULT NULL,
  `quantity` int(11) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `order_basket_code` (`order_basket_code`),
  KEY `FK_product_order_basket_user` (`user_code`),
  KEY `FK_product_order_basket_product` (`product_code`),
  KEY `FK_product_order_basket_product_option` (`product_option_code`),
  CONSTRAINT `FK_product_order_basket_product` FOREIGN KEY (`product_code`) REFERENCES `product` (`product_code`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `FK_product_order_basket_product_option` FOREIGN KEY (`product_option_code`) REFERENCES `product_option` (`product_option_code`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `FK_product_order_basket_user` FOREIGN KEY (`user_code`) REFERENCES `user` (`user_code`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_order_basket`
--

LOCK TABLES `product_order_basket` WRITE;
/*!40000 ALTER TABLE `product_order_basket` DISABLE KEYS */;
/*!40000 ALTER TABLE `product_order_basket` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_order_claim`
--

DROP TABLE IF EXISTS `product_order_claim`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product_order_claim` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `order_claim_code` varchar(50) NOT NULL DEFAULT '0',
  `order_code` varchar(50) NOT NULL DEFAULT '0',
  `user_code` varchar(50) NOT NULL DEFAULT '0',
  `claim_type` enum('CANCEL','RETURN','EXCHANGE','REFUND') NOT NULL DEFAULT 'CANCEL',
  `claim_status` enum('REQUESTED','PROCESSING','COMPLETED','REJECTED') NOT NULL DEFAULT 'REQUESTED',
  `detail_status` enum('RETURN_REQUEST','RETURN_SHIPPING','RETURN_RECEIVED','RETURN_HOLD','RESEND_HOLD','RESEND_SHIPPING','RESEND_COMPLETED','REFUND') DEFAULT NULL,
  `fault_party` enum('BUYER','SELLER') NOT NULL DEFAULT 'SELLER',
  `reason_category` enum('MIND','DEFECTIVE','WRONG','OPTION','DELAYED','OUT','OTHER') NOT NULL DEFAULT 'MIND' COMMENT 'mind-?⑥닚蹂?? defective-?곹뭹遺덈웾, wrong-二쇰Ц?곹뭹怨쇰떎由? option-?듭뀡蹂寃? delayed-諛곗넚吏?? other-湲고?',
  `reason_detail` text NOT NULL,
  `total_product_amount` double NOT NULL DEFAULT 0,
  `deducted_delivery_fee` double NOT NULL DEFAULT 0,
  `refund_charge_amount` double NOT NULL DEFAULT 0,
  `total_refund_amount` double NOT NULL DEFAULT 0,
  `refund_method` enum('BANK','PG','KAKAO','NAVER','MILEAGE') DEFAULT NULL,
  `refund_mileage` double NOT NULL DEFAULT 0,
  `refund_cash` double NOT NULL DEFAULT 0,
  `refund_bank` varchar(50) DEFAULT '0',
  `refund_account_number` varchar(50) DEFAULT '0',
  `refund_account_holder` varchar(50) DEFAULT '0',
  `return_tracking_number` varchar(100) NOT NULL DEFAULT '0' COMMENT '援щℓ?먯뿉寃뚮줈遺??援먰솚, 諛섑뭹?쇰줈 ?먮ℓ?먯뿉寃??뚯븘?ㅻ뒗 ?≪옣踰덊샇',
  `return_tacking_company` varchar(100) NOT NULL DEFAULT '0' COMMENT '援щℓ?먯뿉寃뚮줈遺??援먰솚, 諛섑뭹?쇰줈 ?먮ℓ?먯뿉寃??뚯븘?ㅻ뒗 ?앸같??,
  `exchange_tracking_number` varchar(100) NOT NULL DEFAULT '0' COMMENT '?먮ℓ?먭? 援щℓ?먯뿉寃??대옒?꾩쑝濡??명빐 ?щ컻?≫븳 ?≪옣踰덊샇',
  `exchange_tacking_company` varchar(100) NOT NULL DEFAULT '0' COMMENT '?먮ℓ?먭? 援щℓ?먯뿉寃??대옒?꾩쑝濡??명빐 ?щ컻?≫븳 ?앸같??,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `processed_at` timestamp NULL DEFAULT NULL,
  `completed_at` timestamp NULL DEFAULT NULL,
  `rejected_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `order_claim_code` (`order_claim_code`),
  KEY `FK_product_order_claim_product_order` (`order_code`),
  KEY `FK_product_order_claim_user` (`user_code`),
  CONSTRAINT `FK_product_order_claim_product_order` FOREIGN KEY (`order_code`) REFERENCES `product_order` (`order_code`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `FK_product_order_claim_user` FOREIGN KEY (`user_code`) REFERENCES `user` (`user_code`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_order_claim`
--

LOCK TABLES `product_order_claim` WRITE;
/*!40000 ALTER TABLE `product_order_claim` DISABLE KEYS */;
INSERT INTO `product_order_claim` VALUES
(2,'202606081324462439','202605181007243694','jeo7334Wt202601','REFUND','COMPLETED','REFUND','SELLER','DEFECTIVE','?닿굅 臾몄젣 ?덉뼱??!\n?먭씀 ?덈맖!!',27000,0,0,27000,'BANK',0,0,'移댁뭅?ㅻ콉??,'123123123','誘쇱젙湲?,'0','0','0','0','2026-06-08 04:24:46','2026-06-08 08:39:20','2026-06-08 05:26:42','2026-06-08 08:39:20','2026-06-08 05:26:27');
/*!40000 ALTER TABLE `product_order_claim` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_order_claim_item`
--

DROP TABLE IF EXISTS `product_order_claim_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product_order_claim_item` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `order_claim_item_code` varchar(50) NOT NULL DEFAULT '0',
  `order_claim_code` varchar(50) NOT NULL DEFAULT '0',
  `order_item_code` varchar(50) NOT NULL DEFAULT '0',
  `delivery_code` varchar(50) DEFAULT NULL,
  `quantity` int(11) DEFAULT NULL,
  `product_amount` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `order_claim_item_code` (`order_claim_item_code`),
  KEY `FK_product_order_claim_item_product_order_claim` (`order_claim_code`),
  KEY `FK_product_order_claim_item_product_order_item` (`order_item_code`),
  KEY `FK_product_order_claim_item_product_order_delivery` (`delivery_code`),
  CONSTRAINT `FK_product_order_claim_item_product_order_claim` FOREIGN KEY (`order_claim_code`) REFERENCES `product_order_claim` (`order_claim_code`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `FK_product_order_claim_item_product_order_delivery` FOREIGN KEY (`delivery_code`) REFERENCES `product_order_delivery` (`delivery_code`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `FK_product_order_claim_item_product_order_item` FOREIGN KEY (`order_item_code`) REFERENCES `product_order_item` (`order_item_code`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_order_claim_item`
--

LOCK TABLES `product_order_claim_item` WRITE;
/*!40000 ALTER TABLE `product_order_claim_item` DISABLE KEYS */;
INSERT INTO `product_order_claim_item` VALUES
(2,'202606081324465485','202606081324462439','202605181007241781','202605191728058504',2,18000),
(3,'202606081324469511','202606081324462439','202605181007243203','202605191728057591',1,9000);
/*!40000 ALTER TABLE `product_order_claim_item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_order_delivery`
--

DROP TABLE IF EXISTS `product_order_delivery`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product_order_delivery` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `delivery_code` varchar(50) NOT NULL DEFAULT '0',
  `order_code` varchar(50) NOT NULL DEFAULT '0',
  `order_item_code` varchar(50) NOT NULL DEFAULT '0',
  `post_company` varchar(255) NOT NULL DEFAULT '0',
  `post_number` varchar(255) NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `delivery_code` (`delivery_code`),
  KEY `FK_product_order_delivery_product_order` (`order_code`),
  KEY `FK_product_order_delivery_product_order_item` (`order_item_code`),
  CONSTRAINT `FK_product_order_delivery_product_order` FOREIGN KEY (`order_code`) REFERENCES `product_order` (`order_code`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `FK_product_order_delivery_product_order_item` FOREIGN KEY (`order_item_code`) REFERENCES `product_order_item` (`order_item_code`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_order_delivery`
--

LOCK TABLES `product_order_delivery` WRITE;
/*!40000 ALTER TABLE `product_order_delivery` DISABLE KEYS */;
INSERT INTO `product_order_delivery` VALUES
(11,'202605191728058504','202605181007243694','202605181007241781','CJ ??쒗넻??,'132454891','2026-05-20 11:54:54'),
(12,'202605191728050302','202605181007243694','202605181007245917','CJ ??쒗넻??,'132454891','2026-05-20 11:54:54'),
(13,'202605191728057591','202605181007243694','202605181007243203','CJ ??쒗넻??,'132454891','2026-05-20 11:54:54'),
(14,'202605191728056892','202605181007243694','202605181007244287','CJ ??쒗넻??,'132454891','2026-05-20 11:54:54'),
(15,'202605191728053650','202605180929164816','202605180929167660','CJ ??쒗넻??,'153154314','2026-05-20 11:54:54'),
(16,'202605211416553278','202605151407488202','202605151407483464','?쒖쭊?앸같','12312312321312','2026-05-21 14:16:55'),
(17,'202605211416558124','202605151407488202','202605151407485046','?쒖쭊?앸같','12312312321312','2026-05-21 14:16:55'),
(18,'202605211416557265','202605151407488202','202605151407485943','?쒖쭊?앸같','12312312321312','2026-05-21 14:16:55'),
(19,'202605211416550609','202605151407488202','202605151407488126','?쒖쭊?앸같','12312312321312','2026-05-21 14:16:55');
/*!40000 ALTER TABLE `product_order_delivery` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_order_item`
--

DROP TABLE IF EXISTS `product_order_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product_order_item` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `order_item_code` varchar(50) NOT NULL DEFAULT '0',
  `order_code` varchar(50) NOT NULL DEFAULT '0',
  `product_code` varchar(50) NOT NULL,
  `product_option_code` varchar(50) DEFAULT NULL,
  `quantity` int(11) NOT NULL DEFAULT 1,
  `discount_type` enum('FIXED','PERCENT') DEFAULT 'FIXED',
  `discount_value` double DEFAULT 1,
  `each_price` double NOT NULL DEFAULT 1,
  `price` double NOT NULL,
  `final_price` double NOT NULL,
  `status` enum('PENDING','PAID','PROCESSING','SHIPPING','DELIVERED','COMPLETED','CANCEL','RETURN','EXCHANGE','REFUND') NOT NULL DEFAULT 'PENDING',
  `product_name` varchar(255) DEFAULT NULL,
  `product_option_label` varchar(255) DEFAULT NULL,
  `product_option_value` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `order_item_code` (`order_item_code`),
  KEY `FK_product_order_item_product_order` (`order_code`),
  KEY `FK_product_order_item_product` (`product_code`),
  KEY `FK_product_order_item_product_option` (`product_option_code`),
  CONSTRAINT `FK_product_order_item_product` FOREIGN KEY (`product_code`) REFERENCES `product` (`product_code`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `FK_product_order_item_product_option` FOREIGN KEY (`product_option_code`) REFERENCES `product_option` (`product_option_code`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `FK_product_order_item_product_order` FOREIGN KEY (`order_code`) REFERENCES `product_order` (`order_code`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_order_item`
--

LOCK TABLES `product_order_item` WRITE;
/*!40000 ALTER TABLE `product_order_item` DISABLE KEYS */;
INSERT INTO `product_order_item` VALUES
(25,'202605151407483464','202605151407488202','20260209165809589','opt20260209165809589',5,'FIXED',1000,9000,50000,45000,'COMPLETED','?끹꽬?담뀉?곥꽩?뉎뀅??21','而щ윭','釉붾（'),
(26,'202605151407485046','202605151407488202','20260506111049033',NULL,1,NULL,NULL,12000,12000,12000,'COMPLETED','?ㅼ씠?섎? ???dynamic dou) - 二쎌씪??,'而щ윭',NULL),
(27,'202605151407485943','202605151407488202','20260209165809589','opt20260209165809142',1,'FIXED',1000,9000,10000,9000,'COMPLETED','?끹꽬?담뀉?곥꽩?뉎뀅??21','而щ윭','釉붾옓'),
(28,'202605151407488126','202605151407488202','20260209165809589','opt20260209165809180',1,'FIXED',1000,9000,10000,9000,'COMPLETED','?끹꽬?담뀉?곥꽩?뉎뀅??21','而щ윭','?쇳뵆'),
(29,'202605180929167660','202605180929164816','20260209165809589','opt20260209165809589',1,'FIXED',1000,9000,10000,9000,'SHIPPING','?끹꽬?담뀉?곥꽩?뉎뀅??21','而щ윭','釉붾（'),
(30,'202605181007241781','202605181007243694','20260209165809589','opt20260209165809589',5,'FIXED',1000,9000,50000,45000,'RETURN','?끹꽬?담뀉?곥꽩?뉎뀅??21','而щ윭','釉붾（'),
(31,'202605181007245917','202605181007243694','20260506111049033',NULL,1,NULL,NULL,12000,12000,12000,'REFUND','?ㅼ씠?섎? ???dynamic dou) - 二쎌씪??,'而щ윭',NULL),
(32,'202605181007243203','202605181007243694','20260209165809589','opt20260209165809142',1,'FIXED',1000,9000,10000,9000,'RETURN','?끹꽬?담뀉?곥꽩?뉎뀅??21','而щ윭','釉붾옓'),
(33,'202605181007244287','202605181007243694','20260209165809589','opt20260209165809180',1,'FIXED',1000,9000,10000,9000,'COMPLETED','?끹꽬?담뀉?곥꽩?뉎뀅??21','而щ윭','?쇳뵆'),
(35,'202606151054114771','202606151054113857','20260506111049033',NULL,1,NULL,NULL,12000,12000,12000,'CANCEL','?ㅼ씠?섎? ???dynamic dou) - 二쎌씪??,NULL,NULL),
(36,'202606301459182575','202606301459181273','20260209165809589','opt20260209165809015',1,NULL,NULL,10000,10000,10000,'PROCESSING','?끹꽬?담뀉?곥꽩?뉎뀅??21','而щ윭','?덈뱶');
/*!40000 ALTER TABLE `product_order_item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_order_payment`
--

DROP TABLE IF EXISTS `product_order_payment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product_order_payment` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `payment_code` varchar(50) NOT NULL DEFAULT '0' COMMENT 'orderId瑜??泥?,
  `order_code` varchar(50) NOT NULL DEFAULT '0',
  `payment_type` enum('CARD','BANK','ESCROW') NOT NULL DEFAULT 'CARD',
  `deposit_name` varchar(255) DEFAULT NULL,
  `payment_deadline` datetime DEFAULT NULL,
  `paid_check_time` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `payment_code` (`payment_code`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_order_payment`
--

LOCK TABLES `product_order_payment` WRITE;
/*!40000 ALTER TABLE `product_order_payment` DISABLE KEYS */;
INSERT INTO `product_order_payment` VALUES
(7,'202605151407481535','202605151407488202','BANK','asdf','2026-05-20 23:59:59','2026-05-21 14:06:16'),
(8,'202605180929164124','202605180929164816','BANK','asdf','2026-05-23 23:59:59',NULL),
(9,'202605181007249103','202605181007243694','BANK','?곥꽩?뉎뀋?곥꽩??,'2026-05-23 23:59:59','2026-05-26 16:44:23'),
(10,'202606151054116557','202606151054113857','BANK','?뚯뒪?몄엯?덈떎','2026-06-20 23:59:59',NULL),
(11,'202606301459186873','202606301459181273','BANK','誘쇱젙湲?,'2026-07-05 23:59:59','2026-06-30 15:23:11');
/*!40000 ALTER TABLE `product_order_payment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_promotion`
--

DROP TABLE IF EXISTS `product_promotion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product_promotion` (
  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT '?꾨줈紐⑥뀡 ID',
  `name` varchar(255) NOT NULL COMMENT '?꾨줈紐⑥뀡紐?,
  `product_promotion_code` varchar(50) DEFAULT NULL COMMENT '?꾨줈紐⑥뀡 肄붾뱶',
  `discount_type` enum('percentage','fixed') NOT NULL DEFAULT 'percentage' COMMENT '?좎씤 ?좏삎 (鍮꾩쑉/怨좎젙湲덉븸)',
  `discount_value` decimal(10,2) NOT NULL COMMENT '?좎씤 媛?(鍮꾩쑉 ?먮뒗 湲덉븸)',
  `start_date` datetime NOT NULL COMMENT '?쒖옉 ?쇱떆',
  `end_date` datetime NOT NULL COMMENT '醫낅즺 ?쇱떆',
  `description` text DEFAULT NULL COMMENT '?꾨줈紐⑥뀡 ?ㅻ챸',
  `is_active` tinyint(1) DEFAULT 1 COMMENT '?쒖꽦???щ?',
  `created_at` datetime DEFAULT current_timestamp() COMMENT '?앹꽦 ?쇱떆',
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp() COMMENT '?섏젙 ?쇱떆',
  PRIMARY KEY (`id`),
  KEY `product_promotion_code` (`product_promotion_code`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_promotion`
--

LOCK TABLES `product_promotion` WRITE;
/*!40000 ALTER TABLE `product_promotion` DISABLE KEYS */;
INSERT INTO `product_promotion` VALUES
(5,'?뚯뒪??,'202605111029548025','fixed',1000.00,'2026-05-11 00:00:00','2026-05-19 00:00:00','?뚯뒪??,1,'2026-05-11 10:29:54','2026-05-11 10:29:54');
/*!40000 ALTER TABLE `product_promotion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_promotion_target`
--

DROP TABLE IF EXISTS `product_promotion_target`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product_promotion_target` (
  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT '?寃?ID',
  `product_promotion_code` varchar(50) DEFAULT NULL,
  `target_type` enum('all','category','product') NOT NULL COMMENT '?寃??좏삎 (?꾩껜/移댄뀒怨좊━/?곹뭹)',
  `target_code` varchar(50) DEFAULT NULL COMMENT '?寃????ID (移댄뀒怨좊━ ID ?먮뒗 ?곹뭹 ID)',
  `created_at` datetime DEFAULT current_timestamp() COMMENT '?앹꽦 ?쇱떆',
  PRIMARY KEY (`id`),
  KEY `FK_product_promotion_target_product_promotion` (`product_promotion_code`),
  CONSTRAINT `FK_product_promotion_target_product_promotion` FOREIGN KEY (`product_promotion_code`) REFERENCES `product_promotion` (`product_promotion_code`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_promotion_target`
--

LOCK TABLES `product_promotion_target` WRITE;
/*!40000 ALTER TABLE `product_promotion_target` DISABLE KEYS */;
INSERT INTO `product_promotion_target` VALUES
(5,'202605111029548025','product','20260209165809589','2026-05-11 10:29:54'),
(6,NULL,'product','20260209165809589','2026-05-11 10:48:29'),
(7,NULL,'product','20260506111049033','2026-05-11 10:48:29');
/*!40000 ALTER TABLE `product_promotion_target` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_review`
--

DROP TABLE IF EXISTS `product_review`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product_review` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `product_code` varchar(50) NOT NULL DEFAULT '0',
  `review_code` varchar(50) NOT NULL DEFAULT '0',
  `user_code` varchar(50) DEFAULT NULL,
  `order_code` varchar(50) DEFAULT NULL,
  `rating` double NOT NULL DEFAULT 0,
  `content` text NOT NULL,
  `images` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `review_code` (`review_code`),
  KEY `FK_product_review_product` (`product_code`),
  KEY `FK_product_review_user` (`user_code`),
  KEY `FK_product_review_product_order` (`order_code`),
  CONSTRAINT `FK_product_review_product` FOREIGN KEY (`product_code`) REFERENCES `product` (`product_code`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `FK_product_review_product_order` FOREIGN KEY (`order_code`) REFERENCES `product_order` (`order_code`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `FK_product_review_user` FOREIGN KEY (`user_code`) REFERENCES `user` (`user_code`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_review`
--

LOCK TABLES `product_review` WRITE;
/*!40000 ALTER TABLE `product_review` DISABLE KEYS */;
INSERT INTO `product_review` VALUES
(12,'20260209165809589','202603061206361803','jeo7334Wt202601',NULL,3,'<p>?담뀅?밤뀋?곥꽩?뉎꽰?담뀋??/p><p>?곥꽩?뉎꽰?담뀋</p><p>?삠꽩?뉎꽮</p><p>?곥꽩?뉎꽮</p><p>?담뀅?뉎꽮</p><p>?곥꽩?뉎꽮</p><p>?곥꽩?뉎꽰?담뀋</p>',NULL,'2026-03-06 12:06:36','2026-03-06 12:06:36');
/*!40000 ALTER TABLE `product_review` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `refresh_tokens`
--

DROP TABLE IF EXISTS `refresh_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `refresh_tokens` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_code` varchar(50) NOT NULL DEFAULT '0',
  `token` text NOT NULL,
  `expiresAt` datetime NOT NULL,
  `createdAt` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `user_code` (`user_code`),
  CONSTRAINT `FK_refresh_tokens_user` FOREIGN KEY (`user_code`) REFERENCES `user` (`user_code`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=65 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `refresh_tokens`
--

LOCK TABLES `refresh_tokens` WRITE;
/*!40000 ALTER TABLE `refresh_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `refresh_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `review_banner`
--

DROP TABLE IF EXISTS `review_banner`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `review_banner` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) NOT NULL,
  `image_pc` varchar(255) NOT NULL,
  `image_mobile` varchar(255) DEFAULT NULL,
  `image_tablet` varchar(255) DEFAULT NULL,
  `link_url` varchar(255) DEFAULT NULL,
  `is_always` tinyint(1) DEFAULT 0,
  `start_date` datetime DEFAULT NULL,
  `end_date` datetime DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `sort_order` int(11) DEFAULT 0,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `review_banner`
--

LOCK TABLES `review_banner` WRITE;
/*!40000 ALTER TABLE `review_banner` DISABLE KEYS */;
INSERT INTO `review_banner` VALUES
(3,'test3','/uploads/2026/06/29/review/display/banner/1782717804489_988.webp',NULL,NULL,NULL,1,NULL,NULL,1,0,'2026-06-29 16:23:24'),
(4,'test2','/uploads/2026/06/29/review/display/banner/1782718040106_933.webp',NULL,NULL,NULL,1,NULL,NULL,1,2,'2026-06-29 16:27:20'),
(5,'test1','/uploads/2026/06/29/review/display/banner/1782718046207_70.webp',NULL,NULL,NULL,1,NULL,NULL,1,1,'2026-06-29 16:27:26');
/*!40000 ALTER TABLE `review_banner` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `review_campaign`
--

DROP TABLE IF EXISTS `review_campaign`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `review_campaign` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `campaign_code` varchar(50) NOT NULL DEFAULT '0',
  `product_name` varchar(255) NOT NULL DEFAULT '0',
  `title` varchar(50) NOT NULL DEFAULT '0',
  `short_description` varchar(50) NOT NULL DEFAULT '0',
  `is_display` tinyint(4) NOT NULL DEFAULT 0,
  `user_code` varchar(50) NOT NULL COMMENT '愿由ъ옄 怨꾩젙',
  `campaign_category_code` varchar(50) NOT NULL DEFAULT '0',
  `campaign_type` enum('DELIVERY','VISIT','REPORTER','PURCHASE') NOT NULL DEFAULT 'DELIVERY',
  `state` enum('DRAFT','PENDING','SCHEDULED','RECRUITING','CLOSED','SELECTING','REVIEWING','COMPLETED') NOT NULL DEFAULT 'DRAFT' COMMENT 'draft=?꾩떆??? pending=?湲? scheduled=以鍮꾩쨷, recruiting=紐⑥쭛以? closed=醫낅즺, selecting=?좎젙以? reviewing=?묒꽦以? completed=?꾨즺',
  `max_applicants` int(11) NOT NULL DEFAULT 0,
  `main_image` varchar(255) NOT NULL DEFAULT '0',
  `detail_images` text DEFAULT NULL,
  `content` text NOT NULL,
  `start_application_date` datetime NOT NULL DEFAULT '0000-00-00 00:00:00',
  `end_application_date` datetime NOT NULL DEFAULT '0000-00-00 00:00:00',
  `reviewer_selection_date` datetime NOT NULL DEFAULT '0000-00-00 00:00:00',
  `start_write_date` datetime NOT NULL DEFAULT '0000-00-00 00:00:00',
  `end_write_date` datetime NOT NULL DEFAULT '0000-00-00 00:00:00',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `FK_review_campaign_user` (`user_code`),
  KEY `campaign_code` (`campaign_code`),
  KEY `FK_review_campaign_review_campaign_category` (`campaign_category_code`) USING BTREE,
  CONSTRAINT `FK_review_campaign_user` FOREIGN KEY (`user_code`) REFERENCES `user` (`user_code`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `review_campaign`
--

LOCK TABLES `review_campaign` WRITE;
/*!40000 ALTER TABLE `review_campaign` DISABLE KEYS */;
INSERT INTO `review_campaign` VALUES
(11,'202603251523561942','?諛붾? ?뚮뜲','?諛붾? 酉고떚','?諛붾??먯꽌 留뚮뱺 酉고떚 釉뚮옖??!',1,'jeo7334Wt202601','20260402141854001','DELIVERY','COMPLETED',10,'/uploads/2026/03/25/review/20260325152356099/1774419836258-zxsqcl4be.webp','[\"/uploads/2026/03/27/review/20260327144427556_d0/1774590267260-yniyp0wrg.webp\",\"/uploads/2026/03/27/review/20260327143905099_d1/1774589945886-pqqagjgoe.webp\",\"/uploads/2026/03/27/review/20260327143905099_d0/1774589945778-iuy4g4waf.webp\",\"/uploads/2026/03/27/review/20260327143905099_d2/1774589946601-sw4g6bafx.webp\"]','?닿쾬 ?寃?洹멸쾬 踰좎씠鍮?,'2026-02-26 00:00:00','2026-04-20 00:00:00','2026-04-21 00:00:00','2026-04-22 00:00:00','2026-04-26 00:00:00','2026-03-25 15:23:56','2026-04-22 12:04:27'),
(12,'202604231037085673','?諛붾? ?ν꽣踰꾨땲 ?곕え??踰좎씠吏?,'?諛붾? ?좊겮?щ즺 ?ν꽣 踰꾨땲','罹좏럹???뚯뒪??,1,'jeo7334Wt202601','20260402141854001','DELIVERY','COMPLETED',5,'/uploads/2026/04/23/review/20260423103708876/1776908228828-pkvk84bbc.webp','[\"/uploads/2026/04/23/review/20260423103708876_d0/1776908229020-ar09x4mea.webp\",\"/uploads/2026/04/23/review/20260423103708876_d1/1776908229796-n9c5fkpvj.webp\",\"/uploads/2026/04/23/review/20260423103708876_d2/1776908230511-ygi1hx21i.webp\"]','?닿굔 ?뚯뒪?몄엫','2026-06-15 00:00:00','2026-06-23 00:00:00','2026-06-24 00:00:00','2026-06-24 00:00:00','2026-07-08 00:00:00','2026-04-23 10:37:11','2026-06-26 13:49:07'),
(14,'202605121348356767','?쒗뭹紐??뚯뒪??,'?뚯뒪??','?곥뀋?뱀슦??,1,'jeo7334Wt202601','20260402142217001','VISIT','REVIEWING',10,'/uploads/2026/05/12/review/20260512135111209/1778561471360-fpwth31r7.webp','[\"/uploads/2026/05/12/review/20260512135540197_d0/1778561740411-henle2u1t.webp\",\"/uploads/2026/05/12/review/20260512140252078_d0/1778562172308-gzmpx16kn.webp\"]','?곥꽩?뉎꽮?담뀅?뉎꽰?담뀋?밤꽩?곥뀋??r\n\r\n?곥꽩?뉎꽰?담뀋??r\n?곥꽩?뉎꽮\r\n?곥꽩?뉎꽮\r\n?곥꽩?뉎꽮\r\n?곥꽩?뉎꽮\r\n?곥꽩?뉎꽮\r\n?곥꽩?뉎꽰','2026-05-12 00:00:00','2026-05-20 00:00:00','2026-05-21 00:00:00','2026-05-21 00:00:00','2026-05-25 00:00:00','2026-05-12 13:48:35','2026-06-09 10:44:11'),
(15,'202605121412250150','?곥꽩?뉎뀅?담뀋','loading test','',1,'jeo7334Wt202601','','VISIT','DRAFT',0,'',NULL,'','2026-05-12 00:00:00','2026-05-20 00:00:00','2026-05-21 00:00:00','2026-05-21 00:00:00','2026-06-01 00:00:00','2026-05-12 14:12:25','2026-05-12 14:12:25');
/*!40000 ALTER TABLE `review_campaign` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `review_campaign_application`
--

DROP TABLE IF EXISTS `review_campaign_application`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `review_campaign_application` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `campaign_application_code` varchar(50) NOT NULL DEFAULT '0',
  `campaign_code` varchar(50) NOT NULL DEFAULT '0',
  `user_code` varchar(50) NOT NULL DEFAULT '0',
  `status` enum('APPLIED','SELECTED','REJECTED','CANCELLED','SUBMITTED','RETURNED','COMPLETED') NOT NULL DEFAULT 'APPLIED',
  `applied_at` datetime NOT NULL DEFAULT current_timestamp(),
  `selected_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `FK_review_campaign_application_review_campaign` (`campaign_code`),
  KEY `FK_review_campaign_application_user` (`user_code`),
  KEY `campaign_application_code` (`campaign_application_code`),
  CONSTRAINT `FK_review_campaign_application_review_campaign` FOREIGN KEY (`campaign_code`) REFERENCES `review_campaign` (`campaign_code`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `FK_review_campaign_application_user` FOREIGN KEY (`user_code`) REFERENCES `user` (`user_code`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `review_campaign_application`
--

LOCK TABLES `review_campaign_application` WRITE;
/*!40000 ALTER TABLE `review_campaign_application` DISABLE KEYS */;
/*!40000 ALTER TABLE `review_campaign_application` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `review_campaign_application_address`
--

DROP TABLE IF EXISTS `review_campaign_application_address`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `review_campaign_application_address` (
  `application_address_code` varchar(255) NOT NULL,
  `campaign_application_code` varchar(255) NOT NULL,
  `name` varchar(255) DEFAULT NULL,
  `postcode` varchar(50) DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `detailAddress` varchar(255) DEFAULT NULL,
  `phone` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`application_address_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `review_campaign_application_address`
--

LOCK TABLES `review_campaign_application_address` WRITE;
/*!40000 ALTER TABLE `review_campaign_application_address` DISABLE KEYS */;
INSERT INTO `review_campaign_application_address` VALUES
('202606301440410168','202605121112386489','誘쇱젙湲?,'21035','?몄쿇 怨꾩뼇援??μ젣濡?878(蹂묐갑?? ?숇쭏?꾩꽌???곷궓?꾪뙆??','111??1102??,'010-6551-3317'),
('202606301440411164','202604211541539460','誘쇱젙湲?,'21069','?몄쿇 怨꾩뼇援??ㅼ“?곕줈57踰덇만 15(怨꾩궛?? 紐낅룞鍮뚮뵫)','721??,'010-6551-3317'),
('202606301440412580','202606151558319596','誘쇱젙湲?,'21035','?몄쿇 怨꾩뼇援??μ젣濡?878(蹂묐갑?? ?숇쭏?꾩꽌???곷궓?꾪뙆??','111-1102','010-6551-3317'),
('202606301440413459','202605121031155241','誘쇱젙湲?,'21069','?몄쿇 怨꾩뼇援??ㅼ“?곕줈57踰덇만 15(怨꾩궛?? 紐낅룞鍮뚮뵫)','721??,'010-6551-3317'),
('202606301440416375','202604231037379557','誘쇱젙湲?,'21069','?몄쿇 怨꾩뼇援??ㅼ“?곕줈57踰덇만 15(怨꾩궛?? 紐낅룞鍮뚮뵫)','721??,'010-6551-3317');
/*!40000 ALTER TABLE `review_campaign_application_address` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `review_campaign_application_channel`
--

DROP TABLE IF EXISTS `review_campaign_application_channel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `review_campaign_application_channel` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `campaign_application_channel_code` varchar(50) NOT NULL DEFAULT '0',
  `campaign_application_code` varchar(50) NOT NULL DEFAULT '0',
  `review_channel_code` varchar(50) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `FK_campaign_application_code` (`campaign_application_code`),
  KEY `FK_review_campaign_application_channel_user_review_channel` (`review_channel_code`),
  CONSTRAINT `FK_campaign_application_code` FOREIGN KEY (`campaign_application_code`) REFERENCES `review_campaign_application` (`campaign_application_code`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `FK_review_campaign_application_channel_user_review_channel` FOREIGN KEY (`review_channel_code`) REFERENCES `user_review_channel` (`review_channel_code`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `review_campaign_application_channel`
--

LOCK TABLES `review_campaign_application_channel` WRITE;
/*!40000 ALTER TABLE `review_campaign_application_channel` DISABLE KEYS */;
INSERT INTO `review_campaign_application_channel` VALUES
(3,'202604211541532951','202604211541539460','202604101108336720'),
(4,'202604231037384646','202604231037379557','202604091524092907'),
(7,'202605121031161263','202605121031155241','202604281407109012'),
(8,'202605121112400853','202605121112386489','202604281407109012'),
(9,'202606151558314044','202606151558319596','202606111054202320');
/*!40000 ALTER TABLE `review_campaign_application_channel` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `review_campaign_application_delivery`
--

DROP TABLE IF EXISTS `review_campaign_application_delivery`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `review_campaign_application_delivery` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `campaign_application_code` varchar(50) NOT NULL DEFAULT '0',
  `campaign_application_delivery_code` varchar(50) NOT NULL DEFAULT '0',
  `courier` varchar(255) NOT NULL DEFAULT '0' COMMENT '?앸같??,
  `tracking_number` varchar(255) NOT NULL DEFAULT '0' COMMENT '?≪옣踰덊샇',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `FK_review_campaign_application_delivery` (`campaign_application_code`),
  KEY `campaign_application_delivery_code` (`campaign_application_delivery_code`),
  CONSTRAINT `FK_review_campaign_application_delivery` FOREIGN KEY (`campaign_application_code`) REFERENCES `review_campaign_application` (`campaign_application_code`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `review_campaign_application_delivery`
--

LOCK TABLES `review_campaign_application_delivery` WRITE;
/*!40000 ALTER TABLE `review_campaign_application_delivery` DISABLE KEYS */;
INSERT INTO `review_campaign_application_delivery` VALUES
(2,'202604211541539460','202604211544492113','CJ??쒗넻??,'3432523532523','2026-04-21 06:44:49','2026-04-21 06:44:49');
/*!40000 ALTER TABLE `review_campaign_application_delivery` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `review_campaign_application_reward_option`
--

DROP TABLE IF EXISTS `review_campaign_application_reward_option`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `review_campaign_application_reward_option` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `campaign_application_reward_option_code` varchar(50) NOT NULL DEFAULT '0',
  `campaign_application_code` varchar(50) NOT NULL DEFAULT '0',
  `reward_option_code` varchar(50) NOT NULL DEFAULT '0',
  `reward_option_value` varchar(50) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `FK_review_campaign_application_option` (`campaign_application_code`),
  KEY `FK_review_campaign_application_op_reward_option` (`reward_option_code`),
  KEY `campaign_application_reward_option_code` (`campaign_application_reward_option_code`),
  CONSTRAINT `FK_review_campaign_application_op_reward_option` FOREIGN KEY (`reward_option_code`) REFERENCES `review_campaign_reward_option` (`reward_option_code`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `FK_review_campaign_application_option` FOREIGN KEY (`campaign_application_code`) REFERENCES `review_campaign_application` (`campaign_application_code`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `review_campaign_application_reward_option`
--

LOCK TABLES `review_campaign_application_reward_option` WRITE;
/*!40000 ALTER TABLE `review_campaign_application_reward_option` DISABLE KEYS */;
INSERT INTO `review_campaign_application_reward_option` VALUES
(6,'202604211541534177','202604211541539460','202604211322287031','21??);
/*!40000 ALTER TABLE `review_campaign_application_reward_option` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `review_campaign_category`
--

DROP TABLE IF EXISTS `review_campaign_category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `review_campaign_category` (
  `c_num` int(11) NOT NULL AUTO_INCREMENT,
  `parent_code` varchar(50) DEFAULT NULL,
  `category_code` varchar(50) NOT NULL DEFAULT '0',
  `type` enum('DELIVERY','VISIT','REPORTER','PURCHASE') NOT NULL DEFAULT 'DELIVERY',
  `name` varchar(100) NOT NULL DEFAULT '0',
  `is_visible` tinyint(4) NOT NULL DEFAULT 0,
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`c_num`) USING BTREE,
  UNIQUE KEY `id` (`category_code`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `review_campaign_category`
--

LOCK TABLES `review_campaign_category` WRITE;
/*!40000 ALTER TABLE `review_campaign_category` DISABLE KEYS */;
INSERT INTO `review_campaign_category` VALUES
(3,NULL,'20260402131737001','DELIVERY','?쒗뭹',1,1,'2026-04-02 01:57:15','2026-04-02 04:19:13'),
(4,NULL,'20260402131902001','VISIT','吏??,1,2,'2026-04-02 04:19:02','2026-04-02 04:19:10'),
(5,NULL,'20260402132114001','REPORTER','湲곗옄??,1,3,'2026-04-02 04:21:41','2026-04-02 04:22:04'),
(6,NULL,'20260402132158001','PURCHASE','援щℓ??,1,4,'2026-04-02 04:21:58','2026-04-02 04:22:30'),
(7,'20260402131737001','20260402141854001','DELIVERY','酉고떚',1,1,'2026-04-02 05:18:54','2026-04-02 05:19:05'),
(8,'20260402131737001','20260402141919001','DELIVERY','?앺뭹',1,2,'2026-04-02 05:19:19','2026-04-02 06:19:25'),
(9,'20260402131737001','20260402141939001','DELIVERY','?앺솢?⑺뭹',1,3,'2026-04-02 05:19:39','2026-04-02 06:19:26'),
(10,'20260402131737001','20260402141952001','DELIVERY','?≪븘',1,4,'2026-04-02 05:19:52','2026-04-02 06:19:27'),
(11,'20260402131737001','20260402142017001','DELIVERY','李⑤웾쨌罹좏븨',1,5,'2026-04-02 05:20:17','2026-04-02 06:19:27'),
(12,'20260402131737001','20260402142030001','DELIVERY','諛섎젮?숇Ъ',1,6,'2026-04-02 05:20:30','2026-04-02 06:19:28'),
(13,'20260402131737001','20260402142050001','DELIVERY','IT쨌媛?꾩젣??,1,7,'2026-04-02 05:20:50','2026-04-02 06:19:29'),
(14,'20260402131737001','20260402142102001','DELIVERY','湲고?',1,8,'2026-04-02 05:21:02','2026-04-02 06:19:30'),
(15,'20260402131902001','20260402142145001','VISIT','留쏆쭛쨌移댄럹',1,1,'2026-04-02 05:21:45','2026-04-02 05:22:03'),
(16,'20260402131902001','20260402142217001','VISIT','酉고떚쨌嫄닿컯쨌誘몄슜',1,2,'2026-04-02 05:22:17','2026-04-02 06:19:31'),
(20,'20260402131902001','20260402142233001','VISIT','?ы뻾쨌?숇컯쨌?덉?',1,3,'2026-04-02 05:22:33','2026-04-02 06:19:32'),
(21,'20260402131902001','20260402142320001','VISIT','臾명솕',1,4,'2026-04-02 05:23:20','2026-04-02 06:19:32'),
(22,'20260402131902001','20260402142336001','VISIT','湲고?',1,5,'2026-04-02 05:23:36','2026-04-02 06:19:33');
/*!40000 ALTER TABLE `review_campaign_category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `review_campaign_channel`
--

DROP TABLE IF EXISTS `review_campaign_channel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `review_campaign_channel` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `campaign_code` varchar(50) NOT NULL DEFAULT '0',
  `channel_code` varchar(50) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `FK__review_campaign` (`campaign_code`),
  KEY `FK_review_campaign_channel_review_campaign_channel_view` (`channel_code`),
  CONSTRAINT `FK__review_campaign` FOREIGN KEY (`campaign_code`) REFERENCES `review_campaign` (`campaign_code`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `FK_review_campaign_channel_review_campaign_channel_view` FOREIGN KEY (`channel_code`) REFERENCES `review_campaign_channel_view` (`channel_code`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=81 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `review_campaign_channel`
--

LOCK TABLES `review_campaign_channel` WRITE;
/*!40000 ALTER TABLE `review_campaign_channel` DISABLE KEYS */;
INSERT INTO `review_campaign_channel` VALUES
(52,'202603251523561942','202603171602001'),
(79,'202605121348356767','202603171602001'),
(80,'202604231037085673','202603171602001');
/*!40000 ALTER TABLE `review_campaign_channel` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `review_campaign_channel_view`
--

DROP TABLE IF EXISTS `review_campaign_channel_view`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `review_campaign_channel_view` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `channel_code` varchar(50) NOT NULL DEFAULT '0',
  `unselectable_with` varchar(500) NOT NULL DEFAULT '0',
  `name` varchar(50) NOT NULL DEFAULT '0',
  `icon` varchar(50) NOT NULL DEFAULT '0',
  `isLink` tinyint(4) NOT NULL DEFAULT 0,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `channel_code` (`channel_code`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `review_campaign_channel_view`
--

LOCK TABLES `review_campaign_channel_view` WRITE;
/*!40000 ALTER TABLE `review_campaign_channel_view` DISABLE KEYS */;
INSERT INTO `review_campaign_channel_view` VALUES
(1,'202603171602001','202603171603001,202603171603002,202603171604001','?ㅼ씠踰?釉붾줈洹?,'naver.svg',1,'2026-03-17 16:02:58','2026-04-10 10:38:53'),
(2,'202603171603001','202603171602001,202603171603002,202603171604001','?몄뒪?洹몃옩','instagram.svg',1,'2026-03-17 16:03:31','2026-05-12 14:06:05'),
(3,'202603171603002','202603171603001,202603171602001,202603171604001','?좏뒠釉?,'youtube.svg',1,'2026-03-17 16:04:12','2026-04-10 10:38:58'),
(4,'202603171604001','202603171602001,202603171603002,202603171604002','?몄뒪?洹몃옩 由댁뒪','instagram_reels.svg',1,'2026-03-17 16:04:29','2026-04-10 10:39:00'),
(5,'202603171604002','202603171602001,202603171603001,202603171604001','?좏뒠釉??쇱툩','youtube_shorts.svg',1,'2026-03-17 16:04:51','2026-04-10 10:39:03'),
(6,'202603171605001','0','?ㅻ쭏?몄뒪?좎뼱 援щℓ??,'0',0,'2026-03-17 16:05:17','2026-03-17 16:05:17'),
(7,'202603171605002','0','荑좏뙜 由щ럭','0',0,'2026-03-17 16:05:33','2026-03-17 16:05:39');
/*!40000 ALTER TABLE `review_campaign_channel_view` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `review_campaign_feedback`
--

DROP TABLE IF EXISTS `review_campaign_feedback`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `review_campaign_feedback` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `campaign_feedback_code` varchar(50) NOT NULL DEFAULT '0',
  `campaign_application_code` varchar(50) NOT NULL DEFAULT '0',
  `request_content` text NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `FK_review_campaign_post_feedback_review_campaign_application` (`campaign_application_code`),
  KEY `campaign_post_feedback_code` (`campaign_feedback_code`) USING BTREE,
  CONSTRAINT `FK_review_campaign_post_feedback_review_campaign_application` FOREIGN KEY (`campaign_application_code`) REFERENCES `review_campaign_application` (`campaign_application_code`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `review_campaign_feedback`
--

LOCK TABLES `review_campaign_feedback` WRITE;
/*!40000 ALTER TABLE `review_campaign_feedback` DISABLE KEYS */;
INSERT INTO `review_campaign_feedback` VALUES
(5,'202604211545348866','202604211541539460','?닿굅 ?섏젙 ?댁슂','2026-04-21 06:45:34','2026-04-21 06:45:34'),
(6,'202604211546014547','202604211541539460','?닿굅 ?덈릺???덉쓬','2026-04-21 06:46:01','2026-04-21 06:46:01');
/*!40000 ALTER TABLE `review_campaign_feedback` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `review_campaign_mission`
--

DROP TABLE IF EXISTS `review_campaign_mission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `review_campaign_mission` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `campaign_code` varchar(50) NOT NULL DEFAULT '0',
  `title_guide` text NOT NULL,
  `content_guide` text NOT NULL,
  `hashtags` text NOT NULL,
  `mandatory_keyword` varchar(125) NOT NULL DEFAULT '',
  `optional_keyword` varchar(125) NOT NULL DEFAULT '',
  `min_photo_count` int(11) NOT NULL DEFAULT 0,
  `min_text_length` int(11) NOT NULL DEFAULT 1000,
  PRIMARY KEY (`id`),
  KEY `FK_review_campaign_mission_review_campaign` (`campaign_code`),
  CONSTRAINT `FK_review_campaign_mission_review_campaign` FOREIGN KEY (`campaign_code`) REFERENCES `review_campaign` (`campaign_code`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `review_campaign_mission`
--

LOCK TABLES `review_campaign_mission` WRITE;
/*!40000 ALTER TABLE `review_campaign_mission` DISABLE KEYS */;
INSERT INTO `review_campaign_mission` VALUES
(7,'202603251523561942','?닿쾬 ?寃?洹멸쾬 踰좎씠鍮?,'1. ?닿쾬??????묒꽦?댁＜?몄슂\n2. 留곹겕 ?곌껐','?諛붾?酉고떚,酉곕윭,?뚮뜲','?諛붾?酉고떚,酉곕윭,?뚮뜲','?꾩닔??,10,1000),
(8,'202604231037085673','?꾩닔?ㅼ썙??+ ?쒗뭹紐낆쓣 議고빀???쒕ぉ?쇰줈 留뚮뱾?댁＜?몄슂.\n?좏깮?ㅼ썙?쒕뒗 ?좏깮?ы빆?쇰줈 諛섎뱶???ｌ뼱???섎뒗 ?ㅼ썙?쒕뒗 ?꾨떃?덈떎.','1. ?쒗뭹 ?대?吏 諛?諛섎젮?숇Ъ??癒밸뒗 ?대?吏 ?ы븿 理쒖냼 5???댁긽\n2. ?대?吏??諛섎젮?숇Ъ????癒밸뒗 ?대?吏 2???댁긽 ?꾩닔 ?ы븿\n3. 湲띿젙?곸씤 ?꾧린 ?묒꽦','?諛붾?,?ν꽣踰꾨땲,?곕え???곕え?쒖궗猷??좊겮?щ즺','','',5,500),
(10,'202605121348356767','?곥꽩?뉎꽮','?곥꽩?뉎꽰?담뀋??,'?곥꽩???뉎꽮,???밤뀅?담뀋???곥꽩?뉎꽮','','',10,1000),
(11,'202605121412250150','','','','','',10,1000);
/*!40000 ALTER TABLE `review_campaign_mission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `review_campaign_post`
--

DROP TABLE IF EXISTS `review_campaign_post`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `review_campaign_post` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `campaign_post_code` varchar(50) NOT NULL DEFAULT '0',
  `campaign_application_code` varchar(50) NOT NULL DEFAULT '0',
  `user_code` varchar(50) NOT NULL DEFAULT '0',
  `post_url` text NOT NULL,
  `status` enum('SUBMITTED','RETURNED','RESUBMITTED','COMPLETED') NOT NULL DEFAULT 'SUBMITTED',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `resubmited_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `FK_review_campaign_post_user` (`user_code`),
  KEY `FK_review_campaign_post_review_campaign_application` (`campaign_application_code`) USING BTREE,
  KEY `review_campaign_post_code` (`campaign_post_code`) USING BTREE,
  CONSTRAINT `FK_review_campaign_post_review_campaign_application` FOREIGN KEY (`campaign_application_code`) REFERENCES `review_campaign_application` (`campaign_application_code`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `FK_review_campaign_post_user` FOREIGN KEY (`user_code`) REFERENCES `user` (`user_code`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `review_campaign_post`
--

LOCK TABLES `review_campaign_post` WRITE;
/*!40000 ALTER TABLE `review_campaign_post` DISABLE KEYS */;
INSERT INTO `review_campaign_post` VALUES
(6,'202604211545087000','202604211541539460','jeo7334Wt202601','https://chakra-ui.com/docs/components/accordion','COMPLETED','2026-04-21 06:45:08','2026-04-21 06:45:08','2026-04-21 06:46:21');
/*!40000 ALTER TABLE `review_campaign_post` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `review_campaign_reward`
--

DROP TABLE IF EXISTS `review_campaign_reward`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `review_campaign_reward` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `reward_code` varchar(50) NOT NULL DEFAULT '0',
  `campaign_code` varchar(50) NOT NULL DEFAULT '0',
  `reward_type` enum('PRODUCT','POINT','COUPON') NOT NULL DEFAULT 'PRODUCT',
  `name` varchar(50) NOT NULL,
  `description` varchar(50) NOT NULL COMMENT '?ㅻ챸',
  `value` double NOT NULL DEFAULT 0 COMMENT '湲덉븸 ?먮뒗 ?ъ씤??,
  `quantity` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `FK_review_campaign_reward_review_campaign` (`campaign_code`),
  KEY `reward_code` (`reward_code`),
  CONSTRAINT `FK_review_campaign_reward_review_campaign` FOREIGN KEY (`campaign_code`) REFERENCES `review_campaign` (`campaign_code`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=68 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `review_campaign_reward`
--

LOCK TABLES `review_campaign_reward` WRITE;
/*!40000 ALTER TABLE `review_campaign_reward` DISABLE KEYS */;
INSERT INTO `review_campaign_reward` VALUES
(45,'202604211322287549','202603251523561942','PRODUCT','?諛붾? ?뚮뜲 50g','?諛붾? ?뚮뜲 21?? 23??以???1',0,1),
(64,'202605121412280799','202605121412250150','PRODUCT','','',0,0),
(66,'202605121414128051','202605121348356767','PRODUCT','?곥꽩?뉎꽮','?곥뀋??,0,1),
(67,'202606151556254815','202604231037085673','PRODUCT','?諛붾? ?ν꽣踰꾨땲 ?곕え??踰좎씠吏?1kg','?곕え?쒓? 二??깅텇?쇰줈 留뚮뱺 ?좊겮 ?щ즺',0,1);
/*!40000 ALTER TABLE `review_campaign_reward` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `review_campaign_reward_option`
--

DROP TABLE IF EXISTS `review_campaign_reward_option`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `review_campaign_reward_option` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `reward_code` varchar(50) NOT NULL DEFAULT '0',
  `reward_option_code` varchar(50) NOT NULL DEFAULT '0',
  `option_name` varchar(100) NOT NULL DEFAULT '0',
  `option_value` varchar(100) NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `reward_option_code` (`reward_option_code`),
  KEY `FK_review_campaign_reward_option_review_campaign_reward` (`reward_code`),
  CONSTRAINT `FK_review_campaign_reward_option_review_campaign_reward` FOREIGN KEY (`reward_code`) REFERENCES `review_campaign_reward` (`reward_code`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `review_campaign_reward_option`
--

LOCK TABLES `review_campaign_reward_option` WRITE;
/*!40000 ALTER TABLE `review_campaign_reward_option` DISABLE KEYS */;
INSERT INTO `review_campaign_reward_option` VALUES
(12,'202604211322287549','202604211322287031','?됱긽','21??23??,'2026-04-21 13:22:28','2026-04-21 13:22:28'),
(16,'202605121414128051','202605121414122783','?곥꽩?뉎꽮','?곥뀋???곥꽩?뉎꽮,?곥꽩?뉎꽮','2026-05-12 14:14:12','2026-05-12 14:14:12');
/*!40000 ALTER TABLE `review_campaign_reward_option` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `review_notice`
--

DROP TABLE IF EXISTS `review_notice`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `review_notice` (
  `notice_code` varchar(100) NOT NULL,
  `title` varchar(255) NOT NULL,
  `content` text NOT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `view_count` int(11) DEFAULT 0,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`notice_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `review_notice`
--

LOCK TABLES `review_notice` WRITE;
/*!40000 ALTER TABLE `review_notice` DISABLE KEYS */;
INSERT INTO `review_notice` VALUES
('NTC202606301135103269','test','<p>asdasd</p><img src=\"/uploads/2026/06/30/review/notice/editor/1782786933625-si9tnc9cb.webp\"><p></p>',1,14,'2026-06-30 11:35:10','2026-06-30 11:39:04');
/*!40000 ALTER TABLE `review_notice` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `shop_account`
--

DROP TABLE IF EXISTS `shop_account`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `shop_account` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `account_code` varchar(50) NOT NULL DEFAULT '0',
  `bank` varchar(255) NOT NULL DEFAULT '0',
  `account_number` varchar(255) NOT NULL DEFAULT '0',
  `account_holder` varchar(255) NOT NULL DEFAULT '0',
  `is_active` bit(1) NOT NULL DEFAULT b'0',
  `order` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `account_code` (`account_code`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `shop_account`
--

LOCK TABLES `shop_account` WRITE;
/*!40000 ALTER TABLE `shop_account` DISABLE KEYS */;
INSERT INTO `shop_account` VALUES
(3,'202606091612052257','援?????,'123123-123-6785678','?먯씠誘?,'',1),
(4,'202606091612559602','?좏븳???,'123123-123-12321312','?먯씠誘?,'',2);
/*!40000 ALTER TABLE `shop_account` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `shop_delivery_setting`
--

DROP TABLE IF EXISTS `shop_delivery_setting`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `shop_delivery_setting` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `day_delivery_time` varchar(50) NOT NULL DEFAULT '0',
  `day_delivery_impassable` varchar(50) NOT NULL DEFAULT '0',
  `delivery_method` enum('FREE','FIXED','PRICE') NOT NULL DEFAULT 'FREE',
  `basic_delivery_price` int(11) NOT NULL DEFAULT 0,
  `order_standard` int(11) NOT NULL DEFAULT 0,
  `island_price` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `shop_delivery_setting`
--

LOCK TABLES `shop_delivery_setting` WRITE;
/*!40000 ALTER TABLE `shop_delivery_setting` DISABLE KEYS */;
INSERT INTO `shop_delivery_setting` VALUES
(1,'12','\"[\\\"weekends\\\",\\\"holidays\\\",\\\"accHolidays\\\"]\"','PRICE',3500,50000,NULL);
/*!40000 ALTER TABLE `shop_delivery_setting` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `shop_order_setting`
--

DROP TABLE IF EXISTS `shop_order_setting`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `shop_order_setting` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `bank_auto_cancel_days` int(11) NOT NULL DEFAULT 0 COMMENT '二쇰Ц ??bank_auto_cancel_days ?????먮룞 痍⑥냼',
  `order_auto_complete_days` int(11) NOT NULL COMMENT '諛곗넚 ?꾨즺 ??order_auto_complete_days ?????먮룞 ?꾨즺',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `shop_order_setting`
--

LOCK TABLES `shop_order_setting` WRITE;
/*!40000 ALTER TABLE `shop_order_setting` DISABLE KEYS */;
INSERT INTO `shop_order_setting` VALUES
(1,3,7);
/*!40000 ALTER TABLE `shop_order_setting` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user` (
  `user_code` varchar(50) NOT NULL,
  `email` varchar(150) NOT NULL,
  `name` varchar(50) NOT NULL,
  `phone` varchar(50) NOT NULL,
  `profile` varchar(255) DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('USER','ADMIN','SELLER','SUPER_ADMIN') NOT NULL DEFAULT 'USER',
  `status` enum('ACTIVE','BLOCK','WITHDRAW') NOT NULL DEFAULT 'ACTIVE',
  `marketingAgree` bit(1) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `deleted_at` datetime DEFAULT NULL,
  `last_login_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`user_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
INSERT INTO `user` VALUES
('jeo7334Wt202601','jeongkey3317@naver.com','誘쇱젙湲?,'01065513317',NULL,'$2b$10$Bxmg/Gd9ihF1Ttt6E1M7kuk6DH9185reVTNA4iT3ZacFnn/dqu3R6','SUPER_ADMIN','ACTIVE','','2026-01-29 12:27:25',NULL,'2026-06-10 11:35:38'),
('jeo7507NL202606','jeongkey3317@gmail.com','誘쇱젙湲?,'01065513317','/uploads/jeo7507NL202606/profile/1782375041513.webp','$2b$10$1a3Zqa2xK5HsUa0Nq.tNuukJOPL/H2UR8RR5a1Op9gycUov2yCOc6','USER','ACTIVE','','2026-06-10 12:47:29',NULL,'2026-06-30 16:13:51');
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_account`
--

DROP TABLE IF EXISTS `user_account`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_account` (
  `account_code` varchar(50) NOT NULL DEFAULT '',
  `user_code` varchar(50) NOT NULL DEFAULT '',
  `holder` varchar(255) NOT NULL DEFAULT '',
  `number` varchar(255) NOT NULL DEFAULT '',
  `bank` varchar(255) NOT NULL DEFAULT '',
  `is_basic` bit(1) NOT NULL DEFAULT b'0',
  `deleted` bit(1) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`account_code`),
  KEY `user_code` (`user_code`),
  CONSTRAINT `FK_user_account_user` FOREIGN KEY (`user_code`) REFERENCES `user` (`user_code`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_account`
--

LOCK TABLES `user_account` WRITE;
/*!40000 ALTER TABLE `user_account` DISABLE KEYS */;
INSERT INTO `user_account` VALUES
('202606221544150177','jeo7507NL202606','誘쇱젙湲?,'01065513317','湲곗뾽???,'\0','','2026-06-22 06:44:15'),
('202606231659141688','jeo7507NL202606','123123a','23123123','?좏븳???,'\0','\0','2026-06-23 07:59:14'),
('202606241128114586','jeo7507NL202606','誘쇱젙湲?,'01065513317','湲곗뾽???,'','\0','2026-06-24 02:28:11'),
('202606291046434236','jeo7507NL202606','?곥꽩?뉎꽰?담뀋??,'?담뀅?뉎꽰?담뀋??,'?좏븳???,'\0','','2026-06-29 01:46:43'),
('202606291046550028','jeo7507NL202606','?곥꽩?뉎뀕?곥꽩?뉎뀕','?곥꽩?뉎뀕?곥꽩?뉎뀕','KEB?섎굹???,'\0','','2026-06-29 01:46:55');
/*!40000 ALTER TABLE `user_account` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_address`
--

DROP TABLE IF EXISTS `user_address`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_address` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `address_code` varchar(50) NOT NULL,
  `user_code` varchar(50) NOT NULL,
  `name` varchar(126) DEFAULT NULL,
  `postcode` varchar(126) DEFAULT NULL,
  `address` varchar(126) DEFAULT NULL,
  `detailAddress` varchar(126) DEFAULT NULL,
  `phone` varchar(126) DEFAULT NULL,
  `post_request` text DEFAULT NULL,
  `isDefault` tinyint(1) DEFAULT 0,
  `deleted` tinyint(1) DEFAULT 0,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `FK_user_address_user` (`user_code`),
  KEY `address_code` (`address_code`),
  CONSTRAINT `FK_user_address_user` FOREIGN KEY (`user_code`) REFERENCES `user` (`user_code`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_address`
--

LOCK TABLES `user_address` WRITE;
/*!40000 ALTER TABLE `user_address` DISABLE KEYS */;
INSERT INTO `user_address` VALUES
(1,'202604081121299155','jeo7334Wt202601','誘쇱젙湲?,'21069','?몄쿇 怨꾩뼇援??ㅼ“?곕줈57踰덇만 15(怨꾩궛?? 紐낅룞鍮뚮뵫)','721??,'010-6551-3317',NULL,1,0,'2026-04-08 11:21:29','2026-04-09 15:50:32'),
(2,'202604211324085275','jeo7334Wt202601','誘쇱젙湲?,'21035','?몄쿇 怨꾩뼇援??μ젣濡?878(蹂묐갑?? ?숇쭏?꾩꽌???곷궓?꾪뙆??','111??1102??,'010-6551-3317',NULL,0,0,'2026-04-21 13:24:08','2026-04-21 13:26:43'),
(3,'202606151049245747','jeo7507NL202606','誘쇱젙湲?,'21035','?몄쿇 怨꾩뼇援??μ젣濡?878(蹂묐갑?? ?숇쭏?꾩꽌???곷궓?꾪뙆??','111-1102','010-6551-3317',NULL,0,0,'2026-06-15 10:49:24','2026-06-30 14:54:16'),
(4,'202606151050124334','jeo7507NL202606','誘쇱젙湲?,'21035','?몄쿇 怨꾩뼇援??μ젣濡?878(蹂묐갑?? ?숇쭏?꾩꽌???곷궓?꾪뙆??','111-1102','010-6551-3317',NULL,1,0,'2026-06-15 10:50:12','2026-06-30 14:58:31');
/*!40000 ALTER TABLE `user_address` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_point`
--

DROP TABLE IF EXISTS `user_point`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_point` (
  `point_code` varchar(50) NOT NULL,
  `user_code` varchar(50) NOT NULL,
  `current_point` int(11) NOT NULL DEFAULT 0,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`point_code`),
  KEY `user_code` (`user_code`),
  CONSTRAINT `FK_user_point_user` FOREIGN KEY (`user_code`) REFERENCES `user` (`user_code`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_point`
--

LOCK TABLES `user_point` WRITE;
/*!40000 ALTER TABLE `user_point` DISABLE KEYS */;
INSERT INTO `user_point` VALUES
('202606231153021123','jeo7334Wt202601',0,'2026-06-23 02:53:46'),
('20260623120024311574','jeo7507NL202606',30000,'2026-06-24 05:08:26');
/*!40000 ALTER TABLE `user_point` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_point_history`
--

DROP TABLE IF EXISTS `user_point_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_point_history` (
  `history_code` varchar(50) NOT NULL,
  `user_code` varchar(50) NOT NULL,
  `amount` int(11) NOT NULL DEFAULT 0,
  `balance` int(11) NOT NULL DEFAULT 0 COMMENT '吏湲??먮뒗 李④컧 ?댄썑 理쒖쥌 ?붿븸',
  `type` enum('EARN','PAYOUT','PAYOUT_CANCEL','MINUS') NOT NULL DEFAULT 'EARN' COMMENT 'EARN - 吏湲? PAYOUT - 異쒓툑, PAYOUT_CANCEL - 異쒓툑 諛섎젮濡??명븳 蹂듦뎄',
  `payout_code` varchar(50) DEFAULT NULL,
  `descript` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`history_code`),
  KEY `user_code` (`user_code`),
  KEY `payout_cde` (`payout_code`) USING BTREE,
  CONSTRAINT `FK_user_point_history_user` FOREIGN KEY (`user_code`) REFERENCES `user` (`user_code`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `FK_user_point_history_user_point_payout` FOREIGN KEY (`payout_code`) REFERENCES `user_point_payout` (`payout_code`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_point_history`
--

LOCK TABLES `user_point_history` WRITE;
/*!40000 ALTER TABLE `user_point_history` DISABLE KEYS */;
INSERT INTO `user_point_history` VALUES
('202606231629441778','jeo7507NL202606',10000,10000,'EARN',NULL,'test','2026-06-23 07:29:44'),
('202606231630492118','jeo7507NL202606',10000,20000,'EARN',NULL,'test2','2026-06-23 07:30:49'),
('202606231631079568','jeo7507NL202606',10000,30000,'EARN',NULL,'test3','2026-06-23 07:31:07'),
('202606231659491290','jeo7507NL202606',10000,40000,'EARN',NULL,'test','2026-06-23 07:59:49'),
('202606241408263896','jeo7507NL202606',10000,30000,'PAYOUT','202606241408267240','異쒓툑 ?붿껌','2026-06-24 05:08:26');
/*!40000 ALTER TABLE `user_point_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_point_payout`
--

DROP TABLE IF EXISTS `user_point_payout`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_point_payout` (
  `payout_code` varchar(50) NOT NULL,
  `user_code` varchar(50) NOT NULL,
  `amount` int(11) NOT NULL DEFAULT 0 COMMENT '異쒓툑 ?좎껌 湲덉븸',
  `account_code` varchar(50) NOT NULL DEFAULT '0',
  `status` enum('REQUEST','COMPLETED','REJECTED') NOT NULL DEFAULT 'REQUEST',
  `reject_description` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `processed_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`payout_code`),
  KEY `user_code` (`user_code`),
  KEY `account_code` (`account_code`),
  CONSTRAINT `FK_user_point_payout_user` FOREIGN KEY (`user_code`) REFERENCES `user` (`user_code`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `FK_user_point_payout_user_account` FOREIGN KEY (`account_code`) REFERENCES `user_account` (`account_code`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_point_payout`
--

LOCK TABLES `user_point_payout` WRITE;
/*!40000 ALTER TABLE `user_point_payout` DISABLE KEYS */;
INSERT INTO `user_point_payout` VALUES
('202606241408267240','jeo7507NL202606',10000,'202606241128114586','COMPLETED','','2026-06-24 05:08:26','2026-06-24 07:52:26');
/*!40000 ALTER TABLE `user_point_payout` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_recently_viewed`
--

DROP TABLE IF EXISTS `user_recently_viewed`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_recently_viewed` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_code` varchar(255) NOT NULL,
  `product_code` varchar(255) NOT NULL,
  `viewed_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `dwell_time_seconds` int(11) DEFAULT 0,
  `time_to_cart_seconds` int(11) DEFAULT NULL,
  `time_to_buy_seconds` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_user_product` (`user_code`,`product_code`),
  KEY `FK_user_recently_viewed_product` (`product_code`),
  KEY `user_code` (`user_code`),
  CONSTRAINT `FK_user_recently_viewed_product` FOREIGN KEY (`product_code`) REFERENCES `product` (`product_code`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `FK_user_recently_viewed_user` FOREIGN KEY (`user_code`) REFERENCES `user` (`user_code`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_recently_viewed`
--

LOCK TABLES `user_recently_viewed` WRITE;
/*!40000 ALTER TABLE `user_recently_viewed` DISABLE KEYS */;
INSERT INTO `user_recently_viewed` VALUES
(7,'jeo7507NL202606','20260506111049033','2026-06-29 14:00:58',7,5,NULL),
(9,'jeo7507NL202606','20260209165809589','2026-06-30 14:59:09',6,NULL,3);
/*!40000 ALTER TABLE `user_recently_viewed` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_review_channel`
--

DROP TABLE IF EXISTS `user_review_channel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `user_review_channel` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `review_channel_code` varchar(50) NOT NULL,
  `channel_code` varchar(50) NOT NULL,
  `user_code` varchar(50) NOT NULL,
  `channel_url` varchar(255) NOT NULL,
  `meta_image` varchar(1000) DEFAULT NULL,
  `meta_title` text DEFAULT NULL,
  `meta_description` text DEFAULT NULL,
  `follower_count` int(11) DEFAULT NULL,
  `deleted` tinyint(4) NOT NULL DEFAULT 0,
  `certifed` enum('UNAPPROVED','REVIEWING','APPROVED','REJECTED') DEFAULT 'REVIEWING',
  `reject_descript` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `FK_user_review_channel_review_campaign_channel_view` (`channel_code`),
  KEY `FK_user_review_channel_user` (`user_code`),
  KEY `review_channel_code` (`review_channel_code`),
  CONSTRAINT `FK_user_review_channel_review_campaign_channel_view` FOREIGN KEY (`channel_code`) REFERENCES `review_campaign_channel_view` (`channel_code`) ON DELETE NO ACTION ON UPDATE NO ACTION,
  CONSTRAINT `FK_user_review_channel_user` FOREIGN KEY (`user_code`) REFERENCES `user` (`user_code`) ON DELETE NO ACTION ON UPDATE NO ACTION
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_review_channel`
--

LOCK TABLES `user_review_channel` WRITE;
/*!40000 ALTER TABLE `user_review_channel` DISABLE KEYS */;
INSERT INTO `user_review_channel` VALUES
(1,'202604091503088261','202603171602001','jeo7334Wt202601','https://blog.naver.com/jeongkey3317',NULL,NULL,NULL,NULL,1,'REVIEWING',NULL,'2026-04-09 06:03:08','2026-04-10 02:07:20'),
(2,'202604091524092907','202603171603001','jeo7334Wt202601','https://www.instagram.com/jeongkey_moa','https://scontent-icn2-1.cdninstagram.com/v/t51.2885-19/74889142_802324103538046_8304126774971727872_n.jpg?stp=dst-jpg_s100x100_tt6&_nc_cat=104&ccb=7-5&_nc_sid=bf7eb4&efg=eyJ2ZW5jb2RlX3RhZyI6InByb2ZpbGVfcGljLnd3dy4xMDgwLkMzIn0%3D&_nc_ohc=-S46ZV0yk2IQ7kNvwH-eQGD&_nc_oc=AdrZmw78I_DNqw7UFKCuR8zDKxeXxed5hjX7z8SQzcCDXuyuzVjxN42_C3Jzmvorqm4&_nc_zt=24&_nc_ht=scontent-icn2-1.cdninstagram.com&_nc_ss=7c689&oh=00_Af0IcB1cNRC9MygIx_9BT9oBLuQ4-SSUj47Nfuv3i0NTQg&oe=69F48C59','jeongkey (@jeongkey_moa)','63 Followers, 75 Following, 24 Posts - See Instagram photos and videos from jeongkey (@jeongkey_moa)',63,1,'REVIEWING',NULL,'2026-04-09 06:24:09','2026-04-27 06:37:02'),
(3,'202604101108336720','202603171602001','jeo7334Wt202601','https://blog.naver.com/jeongkey3317','https://blogpfthumb-phinf.pstatic.net/20210503_171/jeongkey3317_1620019703837UAq6n_JPEG/profileImage.jpg?type=f204_204','Jeonkey\'s LAB : ?ㅼ씠踰?釉붾줈洹?,'100% 二쇨????쒖젏',NULL,0,'REVIEWING',NULL,'2026-04-10 02:08:33','2026-04-17 01:36:32'),
(4,'202604131023015944','202603171602001','jeo7334Wt202601','https://blog.naver.com/jeongnim33','https://ssl.pstatic.net/static/blog/icon/og_270x270.png','jeongnim33 : ?ㅼ씠踰?釉붾줈洹?,'?뱀떊??紐⑤뱺 湲곕줉???대뒗 怨듦컙',NULL,1,'REVIEWING',NULL,'2026-04-13 01:23:01','2026-04-27 05:55:34'),
(5,'202604281407109012','202603171603001','jeo7334Wt202601','https://www.instagram.com/jeongkey_moa','https://scontent-icn2-1.cdninstagram.com/v/t51.2885-19/74889142_802324103538046_8304126774971727872_n.jpg?stp=dst-jpg_s100x100_tt6&_nc_cat=104&ccb=7-5&_nc_sid=bf7eb4&efg=eyJ2ZW5jb2RlX3RhZyI6InByb2ZpbGVfcGljLnd3dy4xMDgwLkMzIn0%3D&_nc_ohc=CYpxz3T4BFYQ7kNvwF5Lnuf&_nc_oc=AdpIf258jiEQG5Qh6Xw_IimBCqzJDRAakrM4iwVG_Ds-hz10N9a_jeIsmCd08oxAvb8&_nc_zt=24&_nc_ht=scontent-icn2-1.cdninstagram.com&_nc_ss=7c689&oh=00_Af5V_QDjkcHVqyi2grALiokN7pkBz0hBWD1HJhXw6PfBBA&oe=6A0852D9','jeongkey (@jeongkey_moa)','63 Followers, 76 Following, 24 Posts - See Instagram photos and videos from jeongkey (@jeongkey_moa)',63,0,'REVIEWING',NULL,'2026-04-28 05:07:10','2026-05-12 01:14:56'),
(6,'202605121114238207','202603171603001','jeo7334Wt202601','https://www.instagram.com/incheonutd','https://scontent-icn2-1.cdninstagram.com/v/t51.82787-19/632410063_18509333083079854_5486903995777115729_n.jpg?stp=dst-jpg_s100x100_tt6&_nc_cat=111&ccb=7-5&_nc_sid=bf7eb4&efg=eyJ2ZW5jb2RlX3RhZyI6InByb2ZpbGVfcGljLnd3dy4xMDgwLkMzIn0%3D&_nc_ohc=DPugCUTnvTwQ7kNvwGAI1vk&_nc_oc=AdoK7JZzl2GTAaDb3OH9HPPlGuaV2DJKhj8MvE9vhXfngEaKoWGFLDYp7ShdkxFXWj0&_nc_zt=24&_nc_ht=scontent-icn2-1.cdninstagram.com&_nc_gid=fOaBDfq-DJTIgEscmTAb8w&_nc_ss=7c689&oh=00_Af5d_hijLmWsU4-WGjlysAdK3avZX3g9-9Q2V8rY8zlt8g&oe=6A08739F','?몄쿇?좊굹?댄떚???꾨줈異뺢뎄??(@incheonutd)','57K Followers, 85 Following, 13K Posts - See Instagram photos and videos from ?몄쿇?좊굹?댄떚???꾨줈異뺢뎄??(@incheonutd)',57000,1,'REVIEWING',NULL,'2026-05-12 02:14:23','2026-05-12 02:14:31'),
(7,'202606111054202320','202603171602001','jeo7507NL202606','https://blog.naver.com/jeongkey3317','https://blogpfthumb-phinf.pstatic.net/20210503_171/jeongkey3317_1620019703837UAq6n_JPEG/profileImage.jpg?type=f204_204','Jeonkey\'s LAB : ?ㅼ씠踰?釉붾줈洹?,'100% 二쇨????쒖젏',NULL,0,'REVIEWING',NULL,'2026-06-11 01:54:20','2026-06-11 01:54:20');
/*!40000 ALTER TABLE `user_review_channel` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-30 17:11:07
